@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    134 esq. Avenida 25<br />
    La Habana, Cuba<br />
    <abbr title="Teléfono">T:</abbr>
    7-208 29 26 Ext 430
</address>

<address>
    <strong>Soporte:</strong>   
    <br />
    <a href="mailto:joan.oceguera@cie.cu">Joan Oceguera Nápoles</a>
    <br />
    <a href="mailto:ailin.valdes@cie.cu">Ailin Valdés Torres</a>
    <br />
    <a href="mailto:harol.picarin@cie.cu">Harol Picarín Pérez</a>
</address>