@using Model
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/Manage" title="Bienvenido(a) @CurrentUser.Get.FullName!" class="btn btn-dark">
                <i class="glyphicon glyphicon-user"></i>
            </a>
        </li>
        <li>
            <a class="btn btn-dark" href="javascript:document.getElementById('logoutForm').submit()" title="Cerrar Sesión">
                <i class="glyphicon glyphicon-off">
                </i>
            </a>
        </li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav mr-auto">
        <li>
            <a href="~/Account/Login" title="Iniciar sesión" class="btn btn-dark" id="loginLink">
                <i class="glyphicon glyphicon-log-in"></i>
            </a>
        </li>
    </ul>
}
