@using TestWeb.Models;
@model List<ApplicationRol>
@{
    ViewBag.Title = "Roles";
}

<h2>@ViewBag.Title</h2>
<div>
    <a href="~/User/AddRole/" title="Añadir" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
    </a>
</div>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <a href="~/User/EditRole/@item.Id" title="Editar" class="btn btn-secondary">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div>
    <a href="~/User/" title="Usuarios" class="btn btn-secondary">
        <i class="glyphicon glyphicon-arrow-left"></i>
    </a>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        $('.table').DataTable();
    });
</script>

