
@{
    ViewBag.Title = "Administración";
}
<br />
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header text-center font-weight-bold">
                Servicios
            </div>
            <div class="card-body">
                <p>Sección que permite consultar y modificar los servicios que se pueden asignar a los trabajadores</p>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            @Html.ActionLink("Servicios", "Index", "Servicios", null, new { @class = "btn btn-primary btn-lg", @role = "button" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header font-weight-bold text-center">
                Razones
            </div>
            <div class="card-body">
                <p>Sección que permite consultar y modificar las razones para rechazar una solicitud</p>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            @Html.ActionLink("Razones", "Index", "Razones", null, new { @class = "btn btn-primary btn-lg", @role = "button" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header font-weight-bold text-center">
                Cuentas
            </div>
            <div class="card-body">
                <p>Sección que permite consultar, modificar y desactivar las las cuentas presentes en el sistema</p>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-auto">
                            @Html.ActionLink("Cuentas", "Index", "Cuentas", null, new { @class = "btn btn-primary btn-lg", @role = "button" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="~/Home/" title="Inicio" class="btn btn-secondary">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
    </div>
</div>





