<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="direccion" value="C:\Sistemas\Informática\SERVIRED\Planillas de Usuario\" />
    <add key="11843472-ae59-423a-9ec4-6bca52a29b02" value="Administrador" />
    <add key="8834006e-f16c-4f30-a924-ee00c2992b71" value="EspecialistaInf" />
    <add key="1462d873-de2b-4a77-8c7a-c6d84e581cd8" value="Dirigente" />
    <add key="d1bf455f-ee28-4e27-ab73-e98ba27269a2" value="Especialista" />
    <add key="e0d3e5f8-cc4e-4b76-9131-764e34e88158" value="EspecialistaServ" />
  </appSettings>
